@use '@angular/material' as mat;
@include mat.core();

$dark-theme: mat.define-dark-theme((
  
 color: (
   primary: mat.define-palette(mat.$pink-palette),
   accent: mat.define-palette(mat.$blue-grey-palette),
  
 ),
    typography: mat.define-typography-config(),
  density: 0,
));

$light-theme: mat.define-light-theme((
 color: (
   primary: mat.define-palette(mat.$indigo-palette),
   accent: mat.define-palette(mat.$pink-palette),
 ),
));

@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);

@media (prefers-color-scheme: light) {
 
 @include mat.core-color($light-theme);
 @include mat.button-color($light-theme);
}

.theme-dark{
  @include mat.core-theme($dark-theme);
}

.theme-light{
  @include mat.core-color($light-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
